{% extends "base.html" %}
{% block content %}

<h1 class="center-align">Add a review</h1>

<!-- Form to add a review -->
<div class="row forms add-review-form">
    <form class="col s12" action="{{ url_for('add_review') }}" method="POST">
        <!-- Dropdown selection -->
        <div class="input-field col s12">
            <select id="company_id" name="company_id" class="validate" required>
                <option value="" disabled selected>Choose company</option>
                {% for company in companies %}
                <option value="{{ company.id }}">{{ company.service_name }}</option>
                {% endfor %}
            </select>
            <label>Company</label>
        </div>
        <!-- company name -->
        <div class="input-field col s12">
            <input placeholder="Add a company name here" id="company_name" name="company_name" type="text" class="validate"
                    required>
            <label for="company_name">Company Name</label>
        </div>
        <!-- review description -->
        <div class="input-field col s12">
            <input placeholder="Add a review here" id="description" name="description" type="text" class="validate"
                    required>
            <label for="description">Review</label>
        </div>
        <!-- Created by -->
        <div class="input-field col s12">
            <select id="created_by" name="created_by" class="validate" required>
                <option value="{{ session['user'] }}" selected>{{ session['user'] }}</option>
            </select>
            <label>Created By</label>
        </div>
        <!-- submit form -->
        <div class="row">
            <div class="input-field col s12">
                <button type="submit">Add review</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}