{% extends "base.html" %}
{% block content %}

<h1>Add a company</h1>

<div class="row">
    <form class="col s12" action="{{ url_for('add_company') }}" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Add a company here" id="company_name" name="company_name" type="text" class="validate" required>
                <label for="company_name">Company Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button type="submit">Add Company</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}