{% extends "base.html" %}
{% block content %}

<h1>Edit a review</h1>

<!-- Form for editing a review -->
<div class="row">
    <form class="col m8" action="{{ url_for('edit_review', review_id=review._id) }}" method="POST">
        <div class="row">
            <div class="input-field col s8">
                <input id="service_name" name="service_name" type="text" class="validate" value="{{ review.service_name }}" required>
                <label for="service_name">Company name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <input id="review" name="review" type="text" class="validate" value="{{ review.review }}" required>
                <label for="review">Reviews</label>
            </div>
        </div>
        <button><a href="{{ url_for('home') }}">Cancel</a></button>
        <button>Submit</button>
    </form>
</div>


{% endblock %}
