{% extends "base.html" %}
{% block content %}

<h1>Reviewhub</h1>

<div class="row">
    <div class="col s12 center-align">
        <button><a href="{{ url_for('add_review') }}">ADD REVIEWS</a></button>
    </div>
</div>

<div class="row">
    {% for i in service_list %}
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4">
            <div class="card-content white-text">
                <span class="card-title center-align">{{ i.service_name }}</span>
            </div>
            {% if session.user == "admin@gmail.com" %}
            <div class="card-action">
                <a href="{{ url_for('edit_service', service_id=i.id) }}">EDIT</a>
                <a href="{{ url_for('delete_service', service_id=i.id) }}">DELETE</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div>
    <button><a href="{{ url_for('broadband_review') }}">BB REVIEWS</a></button>
</div>


{% endblock %}