{% extends "base.html" %}
{% block content %}

<h1>Login page</h1>

<div class="row">
    <form class="col m12" action="{{ url_for('login') }}" method="POST">     
        <div class="row">
            <div class="input-field col s6">
                <input id="email" name="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>
        <button>Submit</button>
    </form>
</div>

{% endblock %}