{% extends "base.html" %}
{% block content %}

<h1 class="center-align">Login</h1>

<!-- Form to register a user -->
<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('login') }}">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Enter your email" name="username" id="username" type="text" class="validate">
                <label for="username">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Enter your password" name="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <button>Login</button>
    </form>
</div>

{% endblock %}
