{% extends "base.html" %}
{% block content %}

<h1 class="center-align">Companies</h1>

<!-- Button for adding a company -->
<div class="div">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_company') }} " class="btn add-company-btn">Add Company</a>
    </div>
</div>

<!-- All companies on display-->
<div class="row">
    {% for company in companies %}
    <div class="col s6 m3 center-align">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ company.service_name }}</span>
            </div>
            <div class="row">
                <div class=" col s4 card-action">
                    <a href="{{ url_for('edit_company', company_id=company.id) }}" class="btn grey">EDIT</a>
                </div>
                <div class=" col s4 card-action">
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal2{{ loop.index }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal popup to check if admin wants to delete the service -->
    <div id="modal2{{ loop.index }}" class="modal">
        <div class="modal-content center-align">
            <h4>Are you sure you want to delete?</h4>
            <h5>WARNING: This review cannot be recovered!</h5>
        </div>
        <!-- Confirm deletion -->
        <div class="modal-footer center-align">
            <a href="{{ url_for('delete_company', company_id=company.id) }}"
                class="modal-close waves-effect waves-green btn red">YES</a>
            <a href="{{ url_for('my_account', username=session['user']) }}"
                class="modal-close waves-effect waves-green btn">NO</a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row show-review">
    {% for review in reviews %}
    <div class="col s6 m3 l2">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ review.company_name }}</span>
            </div>
            <div class="card-content white-text">
                <span class="card-title">{{ review.description }}</span>
            </div>
            <div class="col s12 card-action">
                <!-- Delete a review modal trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1{{ loop.index }}">Delete</a>
            </div>
        </div>
    </div>
    <!-- Modal popup to check if user wants to delete their review -->
    <div id="modal1{{ loop.index }}" class="modal">
        <div class="modal-content center-align">
            <h4>Are you sure you want to delete?</h4>
            <h5>WARNING: This review cannot be recovered!</h5>
        </div>
        <!-- Confirm deletion -->
        <div class="modal-footer center-align">
            <a href="{{ url_for('delete_review', review_id=review.id) }}"
                class="modal-close waves-effect waves-green btn red">YES</a>
            <a href="{{ url_for('my_account', username=session['user']) }}"
                class="modal-close waves-effect waves-green btn">NO</a>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}